<!-- -*- xml -*- -->

<launch>

<!--MAPPING-->
<!--node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
 <param name="odom_frame" value="odom"/>
 <param name="scan" value="scan_filtered"/>
</node-->

<!--LOCALIZATION-->
<!--include file = "$(find thorvald_2d_nav)/launch/amcl.launch" /-->
<!--include file = "$(find thorvald_2d_nav)/launch/thor_localization_map.launch" /-->

<!--include file = "$(find thorvald_2d_nav)/launch/thor_localization.launch" /-->

<node pkg="thorvald_2d_nav" type="floy3_RANSAC" name="floy3_RANSAC" output="screen"/>

<!--node pkg="thorvald_2d_nav" type="floy3_control_modes" name="floy3_control_modes" output="screen"/-->

<!--node pkg="thorvald_2d_nav" type="floy3_line_SLAM" name="floy3_line_SLAM" output="screen"/-->

<include file = "$(find thorvald_2d_nav)/launch/move_base_nav.launch" />

<!--include file = "$(find waypoints_nmbu_sim)/launch/record_waypoints.launch" /-->

<include file = "$(find waypoints_nmbu)/launch/navigate_waypoints_mb.launch" />

<!--node pkg="thorvald_2d_nav" type="test_row_transition" name="test_row_transition" output="screen"/-->

<!--node pkg="thorvald_2d_nav" type="simple_navigation_goals" name="simple_navigation_goals"/-->

<!--node pkg="thorvald_2d_nav" type="fastSLAM" name="fastSLAM" output="screen"/-->

<!--node pkg="thorvald_2d_nav" type="thorvald_line_SLAM" name="thorvald_line_SLAM"/-->


<node pkg="rviz" type="rviz" name="rviz" args="-d $(find thorvald_2d_nav)/rviz/lincoln.rviz"/>


</launch>
